/.github/ @RealShadowNova
/.husky/ @RealShadowNova
/.vscode/ @RealShadowNova
/.yarn/ @RealShadowNova
/projects/ @RealShadowNova
/scripts/ @RealShadowNova
/src/ @eslachance @RealShadowNova
LICENSE @eslachance
package.json @RealShadowNova
